/* change font for site */
body {
  font-family: sans-serif;
}

/* increase font size of paragraph content */
body p {
  font-size: 1.2em;
}

/* increase font-size of lists */
main li {
  font-size: 1.2em;
}

/* add space between navbar and content */
main {
  padding-top: 2rem;
}

/* make jumbotron slightly smaller */
.jumbotron {
  padding: 2rem;
}

/* change the navbar background color */
.navbar-inverse {
  background-color: #57068c;
}

/* change the link color and font in navbar*/
.navbar-inverse .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.4em;
  font-family: sans-serif;
}

/* change the color of active or hovered links in navbar */
.navbar-inverse .nav-item.active .nav-link,
.navbar-inverse .nav-item:focus .nav-link,
.navbar-inverse .nav-item:hover .nav-link {
  background-color: blue;
}

/* change background of active links in navbar */
.nav-item.active {
  background-color: blue;
}

.navbar-inverse .navbar-toggler {
  border: 1px solid white;
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 768px) {
  .nav-item .nav-link .fab, .nav-item .nav-link .fas {
    font-size: 2em;
    margin-right: .4em;
  }
}

/* change background of primary buttons*/
.btn-primary {
  background: #57068c !important;
  font-size: 1.2em;
}

/* change background of primary buttons only outlined */
.btn-outline-primary {
  color: #57068c;
  background-color: transparent;
  background-image: none;
  border-color: #57068c;
}

/* change background of secondary buttons only outlined when hover */
.btn-outline-primary:hover {
  color: #fff;
  background-color: #57068c;
  border-color: #57068c;
}

.card-footer {
  background-color: #fff;
}

/**********DROPDOWN SUBMENUS DO NOT TOUCH*************/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

/* --------------------RESPONSIVE DISPLAY HEADINGS--------------------------*/
@media (max-width: 575.98px) {
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.0;
  }
  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.0;
  }
  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
}

